<div class="navbar navbar-inverse">
  <div class="navbar-inner">
    
    <ul class="nav">  
      <li>{{outlet controls}}</li>
    </ul>
    
    <ul class = "nav pull-right">
      <li>{{partial secretcode}}</li>
    </ul>
    
  </div>
</div>