<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <ul class = "nav">
      <li class="controls"> 
        <button class="btn-small btn-warning" {{action transitionToSlideshows}}>
        Slideshows
        </button> 
      </li>
      <li class="controls"> {{outlet controls}} </li>
    </ul>
    {{render "user"}}
  </div>
</div>
