<div id = "login" style = "margin-top: 8px;">
  <span>User: {{controller.loggedInUser}} &nbsp; Status: Logged In</span>
  <button class = "btn-mini btn-warning"
          {{action logout}}> Logout </button>
</div>