<span><b>Enter Cheatcode</b></span>
{{view Ember.TextField 
    valueBinding="controller.cheatcode"}}
<button class="btn-mini btn-warning"{{action 'enterCheat' 
                            target="controller"}}>

<b style = "float:right"> CHEAT </b>
</button>

