<form>
  <fieldset>
    <legend class="lead">Enter Cheatcode</legend>
    <label>Cheat Code</label>
    {{view Ember.TextField 
        valueBinding="controllers.application.cheatcode"}}
    <button class="btn btn-warning"{{action 'enterCheat' 
                                target="controllers.application"}}>
      <b class="lead">cheat</b>
    </button>
  </fieldset>
</form>
