<span><b style="color:#2e74ff;vertical-align:middle;">Enter Cheatcode</b></span>
<div style = "padding-top:10px;display:inline-block;vertical-align:middle;">
  {{view Em.TextField
      valueBinding="controller.cheatcode"}}
</div>
<button class="btn-mini btn-warning"{{action 'enterCheat' 
                            target="controller"}}>

Cheat
</button>

