<form id = "slidecreate">
  <fieldset>
    <legend class = "formlabel">Create New</legend>
    <label>New Slide Title</label>
    
    {{view Ember.TextField 
        valueBinding="newSlideName"}}      
  </fieldset>
  
  <button class="btn btn-primary"{{action 'create'}}> create
  </button>
  
  <button class="btn btn-warning"{{action 'abdicate' 
                        target="controllers.application"}}>
    abdicate
  </button>

  </form>
