<form id = "slidecreate">
  <fieldset>
    <legend class = "formlabel">Create New</legend>
    <label id = "subtitle">New Slide Title</label>
    
    {{view App.SlideTextField
        valueBinding="newSlideName"}}      
  </fieldset>
  
  <button class="btn-small btn-primary"{{action 'createSlide'}}> Create
  </button>
</form>
