<form id = "slidecreate">
  <fieldset>
    <legend class = "formlabel">Create New</legend>
    <label>New Slide Title</label>
    
    {{view App.SlideTextField
        valueBinding="newSlideName"}}      
  </fieldset>
  
  <button class="btn btn-primary"{{action 'create'}}> Create
  </button>
  
  <button class="btn btn-warning"{{action 'abdicate' 
                        target="controllers.application"}}>
    Abdicate
  </button>

  </form>
