HIHI
<form>
  <fieldset>
    <legend>Edit Slide </legend>
    <label> Slide Title </label>
      {{view Em.TextField valueBinding = "controllers.slide.content.title"}}
    <label> Slide Content </label>
      {{view Em.TextArea valueBinding = "controllers.slide.content.content"}}
    <button class = "btn btn-success" {{action save target = "controllers.slide"}}> 
      Save 
    </button>
  </fieldset>
</form>