<section id = "usercreate">
  <form id = "usercreate">
    <fieldset>
      <legend class = "formlabel">Create User </legend>
      <label id = "subtitle"> User Name: </label>
      {{view App.SlideTextField
              valueBinding = "controllers.user.formUsername"}}
      
      <label id = "subtitle"> Password: </label><br>
      {{view App.SlideTextField 
              valueBinding = "controllers.user.formPassword"}}
    
      <label id = "subtitle"> Email Address </label>
      {{view App.SlideTextField 
              valueBinding = "controllers.user.formEmail"}}
     
    <br>
    <button class = "btn-small btn-warning"
                  {{action create 
                    target = "controllers.user"}}
    >Create</button>
    
    </fieldset>
  </form>
</section> 