<div class="row">
  <div class="span12">
    <h1>Ember SlideShow</h1>
  </div>
</div>

<div class="container-fluid">
  <div class="span2">
    {{outlet slidelist}}
  </div>
  <div class="span10">
    {{outlet slide}}
  </div>
</div>
