<div class="row">
  <div class="offset2 span8">
    <h1>Ember SlideShow</h1>
  </div>
</div>

<div class="container">
  <div class="span2">
    {{outlet slidelist}}
  </div>
  <div class="span8">
    <p>hey</p>
    {{#linkTo "slides"}}See the Slides{{/linkTo}}
    {{outlet slide}}
  </div>
</div>





