<section id = "splashpage">
    <h1>4-South Ember Slideshows</h1>
    
      {{#linkTo slideshows}} 
        <button class = "btn btn-warning">
          View Slideshows
        </button>
      {{/linkTo}}

    
    <hr>
    <h4> 
      Login or create a user account to edit a Slideshow
    </h4>
    <div class = "row-fluid" id = "loginOptions">
      <div class = "span6 offset1">
        {{partial usercreate}}
      </div>
      <div class = "span5">
        {{partial userlogin}}
      </div>
    </div>
</section>