{{#linkTo slideshows}} <button class = 'btn-warning btn-small'> Slideshows </button>
{{/linkTo}}  


{{#if controller.controllers.user.loggedIn}}
  <h3> logged in </h3>
  {{#unless App.editingMode}}
    <br>
    <button {{action "goToEditing" 
              target="controllers.application"}}
              class = "btn-small btn-warning">
    Edit Slides </button>
  {{/unless}}
  {{#if App.editingMode}}
    <br>
    {{partial slidecreate}}  
    {{partial slideedit}}
  {{/if}}
{{/if}}