<button class="btn-small btn-warning" {{action pauseShow}}>
  <i class="icon-pause"></i> 
</button>
<button class="btn-small btn-primary" {{action back}}>
  <i class="icon-backward"></i>
</button>
<button class="btn-small btn-primary" {{action forward}}>
  <i class="icon-forward"></i>
</button>
