<button class="btn-small btn-warning" {{action pauseShow}}>
  Pause
</button>
<button class="btn-small btn-primary" {{action back}}>
  Back
</button>
<button class="btn-small btn-primary" {{action forward}}>
  Forward
</button>
