{{#each slide in filteredContent}}
  <section class = "presentationslide">
    {{#view contentBinding="slide"}}
      {{partial presentationslide}}
    {{/view}}
  </section>
{{else}}
  <section class="emptyslidesview"><h1>No Slides</h1></section>
{{/each}}
