<span id = "slidesList"> Slide Summary </span>

{{#each slide in content}}
  <div class = "slideSummary">
  {{#view contentBinding = "slide"}}
    {{partial presentationslide}}
  {{/view}}
  </div>
{{else}}

<div class="lead">No Slides</div>
{{/each}}
