<div id = "btnWrapper">
  {{#if App.godMode}}
    <button class="btn-mini btn-danger"{{action 'delete' view.content}}>
      X
    </button>
    <button class="btn-mini btn-primary"{{action 'moveUp' view.content}}>
      UP 
    </button>
    <button class="btn-mini btn-primary"{{action 'moveDown' view.content}}>
      DN 
    </button>
  {{/if}}
</div>

{{#linkTo 'slide' view.content}}
  <span class = "nameWrapper">
    {{view.content.name}}
  </span>
{{/linkTo}}
