<section id = 'splashpage'>

      <h3> Welcome {{controller.controllers.user.content.username}} </h3>
      <h5> Choose a Slideshow </h5>
        {{#each show in controller.content}}
          {{#linkTo slideshow show}}
            <section id = "showthumbnails">
              Title: {{show.title}}
              Author: {{show.username}}
            </section>  
          {{/linkTo}}
        {{/each}}
 
      <hr>
           {{partial slideshowcreate}}
 
</section>