<section id = "slideshowViewList">
  <h5> Choose a Slideshow to view</h5>
    <section class = "row" id = "slideshowlist">
      {{#each show in controller.content}}
        <div class="span2">
        {{#linkTo "slideshow" show}}
          <section id="showthumbnails">
           <p id = "showtitle"> {{show.title}} </p>
            Author: &nbsp; {{show.author}}
          </section>  
        {{/linkTo}}
        </div>    
      {{/each}}
    </section>
</section>

<section id = "slideshowCreation"
  {{#if controllers.user.loggedIn}}
    {{partial slideshowcreate}}
  {{else}}  
    <h3> Please login to create a slideshow </h3>
  {{/if}}

