<section id = "usermanagement">
  <h1> User Management </h1>
  {{#if loggedIn}}
    <h3> Welcome {{username}} </h3>
    <button class = "btn-small btn-warning"
            {{action "viewEditUser"}}>
            View/Edit User Info
    </button>
  {{else}}
    <h4> Please login to view and edit user info </h4>
    <button class = "btn-small btn-warning"
        {{action "createNewUser"}}>
        Create User
    </button>   
  {{/if}}
  
</section>