*
  box-sizing: border-box
  margin: none
  padding: none
  outline: 0
  
body, html
  background: url('../assets/images/pcb.jpg')
  background-size: 100% auto 
  height: 96%
  
.appview
  overflow: none
  height: inherit
    
.navbar
  background-color: rgba(0, 0, 0, 0)
  height: 40px
  margin-bottom: 0px
  
.navbar-inverse .navbar-inner
  margin-bottom: 0px
  background-color: rgba(0, 0, 0, 0.8)
  background-image: none
  border: none
  height: 40px

textarea
  min-height: 250px
  padding: none
  margin: none
  
ul, li
  padding: 0px
  margin: 0px
  
