*
  box-sizing: border-box
  margin: none
  padding: none
  outline: 0
  
body, html
  background: url('../assets/images/pcb.jpg')
  background-size: 100% auto 
  height: 100%
  width: 100%
  overflow: hidden
  
.appview
  height: 100%
  position: relative
  width: 100%
  top: 40px

textarea
  min-height: 150px
  padding: none
  margin: none
  
ul, li
  padding: 0px
  margin: 0px
