@mixin fontsettings ($weight:normal, $fam:serif, $size:1em, $color:white)
  font-weight: $weight
  font-family: $fam
  font-size: $size
  color: $color

@mixin center
  margin-right: auto
  margin-left: auto

@mixin bareBGandBorder
  border: none
  background: none

@mixin borderProps($thickness, $style, $color, $radius: none)
  border: $thickness $style $color
  border-radius: $radius

@mixin lowerBar($width, $height)
  position: absolute
  left: 0px
  bottom: 0px
  width: $width
  height: $height

@mixin leftBar($width, $height)
  position: absolute
  right: leftpx
  top: 0px
  width: $width
  height: $height
  
@mixin rightBar($width, $height)
  position: absolute
  right: 0px
  top: 0px
  width: $width
  height: $height
  

@mixin gradient($topColor, $bottomColor)
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25)
  background-image: -moz-linear-gradient(top, $topColor, $bottomColor)
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from($topColor), to($bottomColor))
  background-image: -webkit-linear-gradient(top, $topColor, $bottomColor)
  background-image: -o-linear-gradient(top, $topColor, $bottomColor)
  background-image: linear-gradient(to bottom, $topColor, $bottomColor)
  background-repeat: repeat-x
  border-color: $bottomColor $bottomColor #bfbfbf
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25)
  border-bottom-color: #b3b3b3
