footer.sitefooter
  @include lowerBar(100%, 200px)
  background-color: rgba(0, 0, 0, .8) 

div.slidethumbnailsviewport
  height: 40px
  width: 800px
  margin-left: auto
  margin-right: auto
  ul#slidethumbnails
    list-style-type: none
    height: 50px
    li.slidethumbnailwrapper
      float: left
      display: block
      height: 50px
      box-sizing: border-box
      div.slidethumbnail
        position: relative
        height: 30px
.dragging
  font-size: large
      display: block
      padding: 0px
      margin: 0px
      height: 30px
