.loginfield
  width: 100px
  margin-top: 10px
  margin-right: 2px
  display: inline-block
  vertical-align: middle

  
.formlabel
  @include fontsettings(normal, 'Jacques Francois', 1.75em, $lightblue)
 
#subtitle
  @include fontsettings(normal, 'Share Tech Mono', .75em, $lightbluewhite)
