// aside
  // background-color: rgba(0, 0, 0, 0.6)
  // height: 100%
  
aside.leftbar
  position: absolute
  padding-left: 5px
  left: 0
  top: 60px
  width: 200px
  
aside.rightbar
  position: absolute
  padding-left: 5px
  right: 0
  top: 60px
  width: 250px
  color: white
  
  #slidecreate
    color: $lightbluewhite
    font-size: 1.25em
  
  .formlabel
    color: $lightblue
    font-size: 1.75em