aside
  @include fontsettings(normal, serif, 100%, white)
  border: none
  vertical-align: baseline
  display: block
  height: inherit
  
aside.leftbar
  @include leftBar(225px, inherit)
  overflow-y: auto
  
aside.rightbar
  @include rightBar(225px, inherit)
  padding: auto 10px
  
  #slidecreate
    color: $lightbluewhite
    font-size: 1.25em
    
  #savedStatus
    height: 20px
    width: 140px
    margin-bottom: 10px
    background-color: $lightblue
    @include fontsettings(normal, 'Share Tech Mono', .75em, white)
    border-radius: 5px
    text-align: center
  
 
