li.slidethumbnail
  font-family: "Share Tech Mono", serif 
  font-size: large
  width: 100px
  a.active
    color: red

section#scrollbarWrapper
  width: 800px
  height: 40px
  margin: auto
  overflow-x: auto
  overflow-y: hidden