li.slides-thumbnail
  border: 2px solid black
  border-radius: 5px
  list-style: none
  margin-top: 5px
  box-sizing: border-box
  height: 85px
  
  div#btnWrapper
    background: #e0e0e0
    min-height: 30px
    padding-top: 2px
    padding-left: 4px
    box-sizing: border-box
    border-top-left-radius: 5px
    border-top-right-radius: 5px
  
  span.nameWrapper:hover
    background: #c0c0c0
    
  span.nameWrapper
    display: block
    height: 51px
    padding-left: 5px
    padding-top: 4px
    box-sizing: border-box
    border-bottom-left-radius: 4px
    border-bottom-right-radius: 4px
    font-size: 25px
    
li.slides-thumbnail.highlighted
  border: 2px solid #faa732
  list-style: none
