#showthumbnails
  padding-top: 10px
  height: 60px
  margin-bottom: 10px
  @include gradient(#bbb, #333333)
  border-radius: 5px
  color: white

form#slideshowcreate
  margin-left: auto
  margin-right: auto
  height: 175px
  width: 275px
  background-color: rgba(125, 125, 125, 0.3)
  border-radius: 5px
  fieldset
    width: 100%
    text-align: center
    
#slideshowlist
  height: 250px
  width: 80%
  margin: auto
  overflow: none
  overflow-y: auto