section.slides
  position: relative
  height: 100%
  min-height: 100%
  margin-left: auto
  margin-right: auto
  width: 800px
  ul
    list-style-type: none
    
  
div#slideSummary
  background-color: #333333 
  width: 100%
  height: 400px
  position: relative
  border-radius: 10px
  color: green
  text-align: center

  
span#slidesList
  display: block
  font-size: 40px
  text-align: center
  margin-top: 15px

 