section#splashpage
  @include fontsettings(normal, 'Share Tech Mono', 1em, $lightblue)
  margin-top: 50px
  line-height: 1em
  background-color: rgba(0, 0, 0, 0.8)
  border-radius: 10px
  height: 600px
  overflow-x: hidden
  
  #loginOptions
    height: 50%
    width: 80%
    background-color: rgba(0, 0, 0, 0.9)
    border-radius: 10px
    margin: auto
    
  #usercreate
    margin: auto
    padding: 5px
    border-radius: 10px
  #userlogin
    margin: auto
    padding: 5px
    border-radius: 10px

